<header class="navbar">

<!-- Image and text -->
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="/trips">
    <img src="https://thenounproject.com/api/private/icons/4236051/edit/?backgroundShape=SQUARE&backgroundShapeColor=%23000000&backgroundShapeOpacity=0&exportSize=752&flipX=false&flipY=false&foregroundColor=%23000000&foregroundOpacity=1&imageFormat=png&rotation=0" width="50" height="50" class="d-inline-block align-top" alt="">
    Trip Planner!
  </a>
</nav>

</header>